:host {
  display: block;
  margin-top: auto;
  padding: 12px 16px;
  font-size: 20px;
  color: hsl(0, 4%, 5%);
  height: 30px;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
